<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">درباره ما</h2>
                    <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">راه های ارتباطی ما</h2>
                    <ul>
                        <li>
                            <a href="">
                                khoshkbar.mehrsam     اینستاگرام ما 
                            </a>
                        </li>
                        <li>@fruitkha.com</li>
                        <li>+989308880854</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">صحفه ها</h2>
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="news.html">محصولات</a></li>
                        <li><a href="about.html">درباره ما</a></li>
                        <li><a href="services.html">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <!-- <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                </p> -->
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://www.instagram.com/khoshkbar.mehrsam" target="_blank"><i class="fab fa-instagram"></i></a></li>
   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>