<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">درباره ما</h2>
                    <p class="text-center">
                        تلاش ما در خشکبار خورشید ارائه باکیفیت‌ترین محصولات خشکبار با بهترین قیمت همراه با ضمانت بازگشت می باشد
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">راه های ارتباطی ما</h2>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/khoshkbar.khorshid">
                                khoshkbar.khorshid     اینستاگرام ما 
                            </a>
                        </li>
                        <li>واتس اپ 09308880854</li>
                        <li> <span><a href="https://telegram.org/">khoshkbar_khorshid</a> </span>  تلگرام</li>
                        <li>
                            <a style="text-decoration: none;" href="tel:09308880854">09308880854</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">صحفه ها</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li><a href="{% url 'shop' %}">محصولات</a></li>
                        <li><a href="{% url 'about' %}">درباره ما</a></li>
                        <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <!-- <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                    Distributed By - <a href="https://themewagon.com/">Themewagon</a>
                </p> -->
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <!-- <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li> -->
                        <li><a href="#" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://www.instagram.com/khoshkbar.khorshid" target="_blank"><i class="fab fa-instagram"></i></a></li>
   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>